---
name: #
id: #
value: #
decimal-places: 0
direction: #
---

<div class="partial controller" data-partial="elements/range-slider" data-controller="./partials/elements/RangeSlider"{{#if decimal-places}} data-decimal-places="{{{decimal-places}}}"{{/if}}{{#if direction}} data-direction="{{{direction}}}"{{/if}}{{#if target}} data-target="{{{target}}}"{{/if}}{{#if target-property}} data-target-property="{{{target-property}}}"{{/if}}>
  <span class="range" data-hook="range"></span>
  <span class="handler" touch-action="pan-x" data-hook="handler"><span></span></span>
  <input type="hidden"{{#if id}} id="{{{id}}}"{{/if}}{{#if name}} name="{{{name}}}"{{/if}}{{#if value}} value="{{{value}}}"{{/if}} data-hook="value" />
</div>
