---
fallback-image:
  relative: true
  src: 'assets/img/image-3-portrait.jpg'
---
<div class="pkg {{#if class}} {{{class}}}{{else}} controller{{/if}}" {{#block "attributes"}}data-pkg="agency-pkg-element-light-spot" data-controller="agency-pkg-element-light-spot"{{/block}} {{#if target}} data-target="{{{target}}}"{{/if}}>
  <div class="preview">
      {{#if fallback-image}}
        <img data-hook="fallbackImage" data-src="{{#if fallback-image.relative}}{{{relativeToRoot}}}{{/if}}{{{fallback-image.src}}}" />
      {{/if}}
      <span class="black-mask">
        <canvas data-hook="blackMaskCanvas"></canvas>
      </span>
      <canvas class="mask" data-hook="maskCanvas"></canvas>
  </div>
  <video muted playsinline data-hook="video"></video>
</div>
